# Created by .ignore support plugin (hsz.mobi)
### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.swp
.idea
src/*/tmp
src/*/run-build
docker/dev/.env

#ide config files
*.code-workspace
.git
pkg
.DS_Store
web/wp-content/cache/dooplay/*.cache
notebooks/pkl/*.pkl
notebooks/models/*.h5
notebooks/datasets/*.csv
api/*.csv
mysql_data
kafka_data
zookeeper_data